@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }

    .animate-marquee {
        animation: marquee 60s linear infinite;
        animation-play-state: running;
    }

    .marquee-wrapper:hover .animate-marquee {
        animation-play-state: paused;
    }
}